page-title:
  en: Contact me
  de: Kontaktformular
element-id:
  en: Englich text, also used as a default if a language has no associated translation
  de: Deutscher text
  en: Texto espaniol?
id-of-another-element:
  en: Source code
  de: Quellcode
page-nav-projects:
  en: My other projects
  de: Meine anderen Projekte