#page-language-chooser {
    // Reset the select
    appearance      : none;
    outline         : none;
    border          : none;
    background-color: transparent;
    font-family     : inherit;
    font-size       : inherit;
    width           : 100%;
    cursor          : inherit;
    line-height     : inherit;
    padding         : 0px;
    margin          : 0px;


    display      : block;
    width        : 40px;
    height       : 40px;
    border-radius: 5px;
    font-size    : 25px;
    cursor       : pointer;
    border       : 1px solid black;

    @media #{$not-big-screen} {
        position: absolute;
        top     : 5px;
        right   : 55px;
    }

    // Make it a nice icon
    color              : transparent;
    background-color   : lightgray;
    background-image   : url("languageicon-org.png");
    background-repeat  : no-repeat;
    background-size    : 80% 80%;
    background-position: center;

    &:hover,
    &:focus {
        border-color    : blue;
        background-color: rgb(92, 92, 255);
    }

    // Fix for chromium
    option {
        background-color: white;
        color           : black;
    }
}

.page-header {
    // Keeps space free for the overflow menu button shown on small and medium screens
    .nav-button-placeholder {
      width: 110px;
      flex: none;
  
      @media #{$big-screen} {
        width: 0px;
      }
    }
  }